<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://itproger.com/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Портфолио</title>
</head>
<body>
<div class="panel">
    <h1 class="heading">Портфолио</h1>
    <h3 class="heading">Сысолятин Виталий Васильевич</h3>
    <p>Меня зовут Виталий, мне 20 лет. Обучаюсь на направлении: "Информационные системы и технологии в бизнесе".
    Прошел с отличием курс: "Java разработчик" у Георгия Дударя на сайте https://itproger.com</p>
    <ul class="text-left">
        <li><b>Телефон:</b> +7(988) 087 - 77 - 035</li>
        <li><b>Email:</b> vitos282008@gmail.ru</li>
    </ul>

    <div class="row portfolio">
        <div class="col-md-6">
            <img src="css/image/photo.jpg" alt="Фото">
        </div>
        <div class="col-md-6">
            <p class="left-text">Некоторые из моих проектов:</p>
            <ol class="text-left cl-effect-7">
                <li><a href="/all" title="Посетить сайт">Проекты, которые были созданы во время курса</a></li>
                <li><a href="/fx" title="Посетить сайт">Программа сокращения ссылок на JavaFx</a></li>
                <li><a href="/spring" title="Посетить сайт">Программа сокращения ссылок на Spring Boot</a></li>
                <li><a href="/android" title="Посетить сайт">Программа сокращения ссылок под Андроид устройства</a></li>
            </ol>
        </div>
    </div>

</div>
</body>
</html>
